body {
    font-size: 4vw;
    background: conic-gradient(from 180deg at 50% 50%, #FFFFFF 0deg, #000000 60deg, #FFFFFF 84.38deg, #000000 125.63deg, #FFFFFF 187.5deg, #000000 258.75deg, #FFFFFF 290.63deg, #000000 339.37deg, #FFFFFF 360deg), radial-gradient(100.01% 100.01% at 50.52% -0.01%, #22AADD 0%, #E1F664 19.79%, #FFEEBB 39.58%, #ABB3FC 59.38%, #5DF7A4 80.21%, #58C4F6 100%);
    background-blend-mode: screen, normal;
    backdrop-filter: blur(10px);
    margin: 0;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
input {
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: arial;
    margin: 15;
    font-size: 25;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    text-shadow: white 2px 0px 3px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    width: 300;
    height: 40;
}
