body {
    font-size: 30;
    background-color: #779d7f;
    backdrop-filter: blur(10px);
    margin: 0;
}
header {
    
}
h1 {
    color: white;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: arial;
    margin: 0;
    font-size: 55;
    background-color: #333;
}
h2 {
    display:block;
    margin: 15;
    text-align: center;
    font-family: arial;
    font-size: 40;
    color: white;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.from:hover {
  background-image: url(cheese.png);
  color: transparent;
}
@media (max-width: 991px) {
    li {
        float:none;
    }
    .rien {
        display: none;
    }
    body {
    font-size: 60px;
    }
    h1 {
        display: none;
    }
}